@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.35vw;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #141414;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6b700; 
}

.appBackground{
  position: fixed; /* Use fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the entire viewport */
  bottom: 0; /* Position the background at the bottom of the viewport */
  overflow: none; /* Enable scrolling if content exceeds viewport height */
  background-image: 
  radial-gradient(circle at center, rgba(255, 255, 255,.005) 0, rgba(255, 255, 255,0.005) 1px, transparent 1px),
  linear-gradient(to right, rgba(255, 255, 255, .05) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 255, 255, .05) 1px, transparent 1px);
  background-size: 50px 50px;
  background-color: #141414;
}

.landingImage{
  position: absolute;
  left: 0px;
  bottom: -80px;
  width: 800px;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/landing.png);
  filter: drop-shadow(0 0 30px rgb(246, 183, 0, .5));
  user-select: none;
  pointer-events: none;
}

.landingTitle{
  position: absolute;
  left: 1100px;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  color: rgb(255,255,255);
  filter: drop-shadow(0 0 30px rgb(246, 183, 0, .5));
  user-select: none;
  pointer-events: none;
}

.landingDescription{
  position: absolute;
  left: 725px;
  top: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: rgb(255,255,255);
  user-select: none;
}

.button{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 400px;
  width: 200px;
  height: 6vh;
  background-color: rgba(29,29,29,0);
  outline: 1px solid white;
  cursor: pointer;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.button:hover{
  color: #f6b700;
  outline: 1px solid #f6b700;
  filter: drop-shadow(0 0 6px #f6b700);
  background-color: rgba(29,29,29,0.5);
}



.episodesPageImage{
  position: absolute;
  left: -150px;
  bottom: -150px;
  width: 1100px;
  height: 1100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/episodespage.png);
  filter: drop-shadow(0 0 30px rgba(92,66,168,0.5));
  user-select: none;
  pointer-events: none;
}

.episodesPageTitle{
  position: absolute;
  left: 900px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 70px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  color: rgb(255,255,255);
  filter: drop-shadow(0 0 30px rgba(92,66,168,1));
  user-select: none;
  pointer-events: none;
}

.episodesContainer{
  position: absolute;
  left: 750px;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  width: 1100px;
  height: 675px;
  padding-bottom: 30px;
}


.episode{
  width: 340px;
  height: 225px;
  margin: 10px;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 4.65px;
  box-sizing: border-box;
}

.episode:hover{
  transform: scale(1.05);
  outline: 1px solid rgba(92,66,168,1);
}

.episodeImage{
  width: 340px;
  height: 225px;
  object-fit: cover;
  object-position: center center;
  border-radius: 4.65px;
}

.bottomBar{
  position: absolute;
  width: 340px;
  height: 50px;
  background-color:rgb(20,20,20,.9);
  border-bottom-left-radius: 4.65px;
  border-bottom-right-radius: 4.65px;
  margin-top: -54px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: white;
}

.seriesTitle{
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
}

.episodeTitle{
  position: absolute;
  margin-top: 37.5px;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(255,255,255,.6);
}


.playerContainer{
  margin: 20px;
  width: 98%;
  height: 875px;
}

.watchSeriesTitle{
  position: absolute;
  bottom: 0;
  left: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(92,66,168,1);
  filter: drop-shadow(0 0 5px rgba(92,66,168,1));
}

.watchEpisodeTitle{
  font-size: 22px;
  font-weight: 300;
  color: white;
}

.watchButton{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 200px;
  height: 45px;
  background-color: rgba(29,29,29,0);
  outline: 1px solid white;
  cursor: pointer;
  border-radius: 4.65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
#homeButton:hover{
  color: #f6b700;
  outline: 1px solid #f6b700;
  filter: drop-shadow(0 0 6px #f6b700);
  background-color: rgba(29,29,29,0.5);
}

#episodesButton:hover{
  color: rgba(92,66,168,1);
  outline: 1px solid rgba(92,66,168,1);
  filter: drop-shadow(0 0 6px rgba(92,66,168,1));
  background-color: rgba(29,29,29,0.5);
}


.returnButton{
  position: absolute;
  top: 105px;
  left: 105px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.returnButton:hover{
  transform: scale(1.1);
  outline: 3px solid rgba(92,66,168,1);
}
.arrow {
  cursor: pointer;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}